In [1]:
from pymongo import MongoClient
client = MongoClient('localhost',27017)

In [2]:
print(client.list_database_names())

['admin', 'config', 'local', 'shop']

In [5]:
mydb = client["Human_Resource"]

In [8]:
mycol = mydb["info"]

In [22]:
mylist = [
    {"_id":1,"name":"James", "age":34, "addr":"Los Angeles"},
    {"_id":2,"name":"Kylian", "age":23, "addr":"New York"},
    {"_id":3,"name":"Julia", "age":24, "addr":"Kiev"},
    {"_id":4,"name":"Graham", "age":30, "addr":"London"},
         ]

In [23]:
x = mycol.insert_many(mylist)

In [24]:
for i in mycol.find():
    print(i)

{'_id': ObjectId('611a2c33b4296e670ffd5e8f'), 'name': 'James', 'age': 34, 'addr': 'Los Angeles'}
{'_id': ObjectId('611a2cfab4296e670ffd5e90'), 'name': 'James', 'age': 34, 'addr': 'Los Angeles'}
{'_id': ObjectId('611a2cfab4296e670ffd5e91'), 'name': 'Kylian', 'age': 23, 'addr': 'New York'}
{'_id': ObjectId('611a2cfab4296e670ffd5e92'), 'name': 'Julia', 'age': 24, 'addr': 'Kiev'}
{'_id': ObjectId('611a2cfab4296e670ffd5e93'), 'name': 'Graham', 'age': 30, 'addr': 'London'}
{'_id': 1, 'name': 'James', 'age': 34, 'addr': 'Los Angeles'}
{'_id': 2, 'name': 'Kylian', 'age': 23, 'addr': 'New York'}
{'_id': 3, 'name': 'Julia', 'age': 24, 'addr': 'Kiev'}
{'_id': 4, 'name': 'Graham', 'age': 30, 'addr': 'London'}